# 4.02 Activity 1

Keep working with `unit4.csv` that you already have locally - the same dataset you used in the previous lesson. (_We didn't add the file once again within this activity folder, since it is a large file that would consume unnecessary space on your drive._)

Discuss which option is better to clean the rows where the values are empty for the column `DOMAIN`.

- Option 1: Filtering the rows with the empty values.
- Option 2: Replacing the empty values with some other category, the most frequently represented value in that column.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('unit4.txt')

In [3]:
data['DOMAIN'].value_counts()

R2    13006
T2    11717
S1    10866
S2     8054
C2     7834
C1     5793
C3     5056
T1     4712
R3     4572
U1     4259
U2     3111
U3     2484
T3     2092
S3     1817
U4     1735
R1     1285
Name: DOMAIN, dtype: int64

In [4]:
data['DOMAIN'].isnull().sum()

2176

In [5]:
data['DOMAIN'].isnull().sum()/len(data['DOMAIN'])

0.024025880820148175

Se decido la opcion 1 que es filtrar las filas que tengan valor NaN

# 4.02 Activity 2

```python
# Cleaning column GENDER
# this is presented in the previous example on the class

data['GENDER'].value_counts()
def clean_gender_col(x):
    if x in ['',' ' ,'U', 'C', 'J', 'A']:
        return 'other'
    else:
        return x

data['GENDER'] = list(map(clean_gender_col, data['GENDER']))
```

<br>

There is a more efficient way to use `map` over pandas dataframes, and it is called [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html).

- Use it instead of the `map` for applying the previous function to the same data.
- Do the same using the equivalent lambda function.

In [6]:
def clean_gender_col(x):
    if x in ['',' ' ,'U', 'C', 'J', 'A']:
        return 'other'
    else:
        return x

In [7]:
#data['GENDER'] = data['GENDER'].apply(lambda x: )

In [8]:
data['GENDER'] = data['GENDER'].apply(lambda x: 'other' if x in ['',' ' ,'U', 'C', 'J', 'A'] else x)
data['GENDER'].value_counts()

F        48668
M        37132
other     1974
Name: GENDER, dtype: int64

# 4.02 Activity 3

Use the column `MDMAUD` to reduce the number of categories to two (`XXXX` and other).

In [9]:
data['MDMAUD'].value_counts()

XXXX    90290
C1CM       59
L1CM       44
I1CM       34
D2CM       27
C2CM       23
D1CM       19
L2CM       14
C1LM        8
L1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
I1LM        3
D5TM        3
C2MM        3
C5CM        3
C2LM        2
C1MM        1
I2MM        1
I5CM        1
I5MM        1
C5MM        1
L1MM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64

In [10]:
vals=pd.DataFrame(data["MDMAUD"].value_counts())
vals=vals.reset_index()
vals

   index  MDMAUD
0   XXXX   90290
1   C1CM      59
2   L1CM      44
3   I1CM      34
4   D2CM      27
5   C2CM      23
6   D1CM      19
7   L2CM      14
8   C1LM       8
9   L1LM       8
10  I2CM       7
11  D5CM       5
12  D5MM       5
13  D2MM       4
14  I1LM       3
15  D5TM       3
16  C2MM       3
17  C5CM       3
18  C2LM       2
19  C1MM       1
20  I2MM       1
21  I5CM       1
22  I5MM       1
23  C5MM       1
24  L1MM       1
25  C5TM       1
26  L2TM       1

In [11]:
vals.columns=["category","counts"]
vals

   category  counts
0      XXXX   90290
1      C1CM      59
2      L1CM      44
3      I1CM      34
4      D2CM      27
5      C2CM      23
6      D1CM      19
7      L2CM      14
8      C1LM       8
9      L1LM       8
10     I2CM       7
11     D5CM       5
12     D5MM       5
13     D2MM       4
14     I1LM       3
15     D5TM       3
16     C2MM       3
17     C5CM       3
18     C2LM       2
19     C1MM       1
20     I2MM       1
21     I5CM       1
22     I5MM       1
23     C5MM       1
24     L1MM       1
25     C5TM       1
26     L2TM       1

In [12]:
grupos = vals[vals['counts']<60]
md_g = list(grupos['category'])
md_g

['C1CM',
 'L1CM',
 'I1CM',
 'D2CM',
 'C2CM',
 'D1CM',
 'L2CM',
 'C1LM',
 'L1LM',
 'I2CM',
 'D5CM',
 'D5MM',
 'D2MM',
 'I1LM',
 'D5TM',
 'C2MM',
 'C5CM',
 'C2LM',
 'C1MM',
 'I2MM',
 'I5CM',
 'I5MM',
 'C5MM',
 'L1MM',
 'C5TM',
 'L2TM']

In [13]:
data['MDMAUD'] = data['MDMAUD'].apply(lambda x: 'other' if x in md_g else x)
data['MDMAUD'].value_counts()

XXXX     90290
other      279
Name: MDMAUD, dtype: int64

# 4.02 Activity 4

Create a function to automate the process of reducing the number of values of a categorical column.

In [19]:
def CleanCategorical(x,y):
    vals=pd.DataFrame(data[x].value_counts()/len(data[x]))
    vals=vals.reset_index()
    vals.columns=["category","porcentaje"]
    grupos = vals[vals['porcentaje']<y]
    md_g = list(grupos['category'])
    data["new"+x] = data[x].apply(lambda x: 'other' if x in md_g else x)
    md_g

In [15]:
'''vals=pd.DataFrame(data["STATE"].value_counts()/len(data["STATE"]))
vals=vals.reset_index()
vals.columns=["category","porcentaje"]
grupos = vals[vals['porcentaje']<.05]
md_g = list(grupos['category'])
data["STATE"] = data["STATE"].apply(lambda x: 'other' if x in md_g else x)
data["STATE"].value_counts() '''

SyntaxError: incomplete input (3188416077.py, line 7)

In [29]:
data.dtypes

Unnamed: 0      int64
STATE          object
PVASTATE       object
DOB             int64
MDMAUD         object
RECP3          object
GENDER         object
DOMAIN         object
INCOME        float64
HOMEOWNR       object
HV1             int64
HV2             int64
HV3             int64
HV4             int64
IC1             int64
IC2             int64
IC3             int64
IC4             int64
IC5             int64
VETERANS       object
NUMPROM         int64
CARDPROM        int64
CARDPM12        int64
NUMPRM12        int64
MAXADATE        int64
RFA_2          object
NGIFTALL        int64
TIMELAG       float64
AVGGIFT       float64
newSTATE       object
dtype: object

In [32]:
CleanCategorical("RFA_2",.05)

In [33]:
data["newRFA_2"].value_counts()

L1F      29207
other    22365
L1G      12007
L2F      10398
L3E       7244
L2E       4681
L1E       4667
Name: newRFA_2, dtype: int64