![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Random Forests

For this lab, you will be using the CSV files provided in the `files_for_lab` folder.

### Instructions

- Apply the Random Forests algorithm but this time only by upscaling the data using `SMOTE`.
- Note that since `SMOTE` works on numerical data only, we will first encode the categorical variables in this case.

In [28]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier

In [4]:
categorical = pd.read_csv('FilesLabRF/categorical.csv')
numerical = pd.read_csv('FilesLabRF/numerical.csv')
target = pd.read_csv('FilesLabRF/target.csv')

In [5]:
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [6]:
data = pd.concat([numerical, categorical, target], axis=1)

In [7]:
data

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,92,8,94,2,95,12,89,11,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,93,10,95,12,95,12,93,10,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,91,11,92,7,95,12,90,1,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,87,11,94,11,95,12,87,2,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,93,10,96,1,96,1,79,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,96,2,96,2,96,2,96,2,0,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,96,3,96,3,96,3,96,3,0,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,96,3,95,1,96,10,94,10,0,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,90,11,96,8,97,1,86,12,1,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,88,12,93,12,96,12,88,3,0,0.0

In [13]:
data['TARGET_B'].value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

In [11]:
y = data['TARGET_B']
X = data.drop(['TARGET_B'], axis=1)

In [12]:
numericalX = X.select_dtypes(np.number)
categoricalX = X.select_dtypes('object')
categoricalX

       STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
0         IL        H      F      L      E        C        T
1         CA        H      M      L      G        A        S
2         NC        U      M      L      E        C        R
3         CA        U      F      L      E        C        R
4         FL        H      F      L      F        A        S
...      ...      ...    ...    ...    ...      ...      ...
95407  other        H      M      L      G        C        C
95408     TX        H      M      L      F        A        C
95409     MI        H      M      L      E        B        C
95410     CA        H      F      L      F        A        C
95411     NC        U      F      L      G        C        C

[95412 rows x 7 columns]

In [17]:
encoder = OneHotEncoder(drop='first').fit(categoricalX)
encoded_categorical = encoder.transform(categoricalX).toarray()
encoded_categorical = pd.DataFrame(encoded_categorical)
X = pd.concat([numericalX, encoded_categorical], axis=1)

In [18]:
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,14,15,16,17,18,19,20,21,22,23
0,0,60.000000,5,9,0,0,39,34,18,10,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [22]:
smote = SMOTE()

In [24]:
X_train_sm, y_train_sm = smote.fit_resample(X_train.to_numpy(), y_train.to_numpy())

In [26]:
X_train_sm

array([[ 0.        , 66.        ,  4.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        , 61.61164927,  5.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 1.        , 44.        ,  5.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.86555128, 94.90767934,  4.        , ...,  0.        ,
         0.        ,  0.86555128],
       [ 1.24412588, 68.56128844,  5.        , ...,  0.62206294,
         0.        ,  0.        ],
       [ 1.58256413, 64.19732027,  2.20871794, ...,  0.        ,
         1.        ,  0.        ]])

In [29]:
forest = RandomForestClassifier()

In [31]:
forest.fit(X_train_sm, y_train_sm)

RandomForestClassifier()

In [34]:
forest.score(X_train_sm,y_train_sm)

1.0

In [36]:
forest.score(X_test.to_numpy(),y_test.to_numpy())

0.9994549951788035

In [38]:
y_test

58053    0
9484     0
13395    0
1466     0
2076     0
        ..
26006    0
14262    0
20638    0
68809    0
36205    1
Name: TARGET_B, Length: 23853, dtype: int64