![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

In [8]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data=pd.read_excel('machine.xlsx')
data

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [25]:
n1 = n2 = 10  # ambas muestras tienen 10 elementos
x1_mean = data['Old machine'].mean()
x1_std = data['Old machine'].std()
x2_mean = data['New machine'].mean()
x2_std = data['New machine'].std()

In [27]:
print(x1_mean)
print(x2_mean)

43.230000000000004
42.14

In [28]:
print(x1_std)
print(x2_std)

0.7498888806572157
0.6834552736727638

In [21]:
import scipy.stats as stats

# Calculamos el estadístico t
s_p = ((n1-1)*x1_std**2 + (n2-1)*x2_std**2) / (n1+n2-2)
t = (x2_mean - x1_mean) / (s_p * ((1/n1) + (1/n2)))**(1/2)

# Calculamos el valor p
p = 1 - stats.t.cdf(t, n1+n2-2)

In [23]:
p

0.9983944287496127

In [38]:
f"El valor del estadístico t es {t:.2} y el valor p es {p:.3}."

'El valor del estadístico t es -3.4 y el valor p es 0.998.'